LPSClientShared/Web References/LPSServer/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s0="http://lpsoft.org/skladserver/" name="Server" targetNamespace="http://lpsoft.org/skladserver/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://lpsoft.org/skladserver/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Ping">
        <xs:complexType />
      </xs:element>
      <xs:element name="PingResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="PingResult" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Login">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="login" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LoginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="LoginResult" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLoggedUser">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetLoggedUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetLoggedUserResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ChangePassword">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="old_password" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="new_password" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ChangePasswordResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Logout">
        <xs:complexType />
      </xs:element>
      <xs:element name="LogoutResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="ExecuteNonquerySimple">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExecuteNonquerySimpleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ExecuteNonquerySimpleResult" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfAnyType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ExecuteNonquery">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="s0:ArrayOfAnyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExecuteNonqueryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ExecuteNonqueryResult" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExecuteScalarSimple">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExecuteScalarSimpleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ExecuteScalarSimpleResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExecuteScalar">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="s0:ArrayOfAnyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExecuteScalarResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ExecuteScalarResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NextSeqValue">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="generator" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NextSeqValueResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="NextSeqValueResult" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTextResource">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="path" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTextResourceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetTextResourceResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDataSetSimple">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDataSetSimpleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetDataSetSimpleResult">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="xs:schema" />
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDataSet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="for_edit" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="s0:ArrayOfAnyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDataSetResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetDataSetResult">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="xs:schema" />
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="server_id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SaveDataSet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="changes">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="xs:schema" />
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="srv_id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SaveDataSetResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="SaveDataSetResult" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DisposeDataSet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="server_id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DisposeDataSetResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="boolean" type="xs:boolean" />
      <xs:element name="string" nillable="true" type="xs:string" />
      <xs:element name="int" type="xs:int" />
      <xs:element name="long" type="xs:long" />
      <xs:element name="DataSet" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="PingSoapIn">
    <part name="parameters" element="s0:Ping" />
  </message>
  <message name="PingSoapOut">
    <part name="parameters" element="s0:PingResponse" />
  </message>
  <message name="LoginSoapIn">
    <part name="parameters" element="s0:Login" />
  </message>
  <message name="LoginSoapOut">
    <part name="parameters" element="s0:LoginResponse" />
  </message>
  <message name="GetLoggedUserSoapIn">
    <part name="parameters" element="s0:GetLoggedUser" />
  </message>
  <message name="GetLoggedUserSoapOut">
    <part name="parameters" element="s0:GetLoggedUserResponse" />
  </message>
  <message name="ChangePasswordSoapIn">
    <part name="parameters" element="s0:ChangePassword" />
  </message>
  <message name="ChangePasswordSoapOut">
    <part name="parameters" element="s0:ChangePasswordResponse" />
  </message>
  <message name="LogoutSoapIn">
    <part name="parameters" element="s0:Logout" />
  </message>
  <message name="LogoutSoapOut">
    <part name="parameters" element="s0:LogoutResponse" />
  </message>
  <message name="ExecuteNonquerySimpleSoapIn">
    <part name="parameters" element="s0:ExecuteNonquerySimple" />
  </message>
  <message name="ExecuteNonquerySimpleSoapOut">
    <part name="parameters" element="s0:ExecuteNonquerySimpleResponse" />
  </message>
  <message name="ExecuteNonquerySoapIn">
    <part name="parameters" element="s0:ExecuteNonquery" />
  </message>
  <message name="ExecuteNonquerySoapOut">
    <part name="parameters" element="s0:ExecuteNonqueryResponse" />
  </message>
  <message name="ExecuteScalarSimpleSoapIn">
    <part name="parameters" element="s0:ExecuteScalarSimple" />
  </message>
  <message name="ExecuteScalarSimpleSoapOut">
    <part name="parameters" element="s0:ExecuteScalarSimpleResponse" />
  </message>
  <message name="ExecuteScalarSoapIn">
    <part name="parameters" element="s0:ExecuteScalar" />
  </message>
  <message name="ExecuteScalarSoapOut">
    <part name="parameters" element="s0:ExecuteScalarResponse" />
  </message>
  <message name="NextSeqValueSoapIn">
    <part name="parameters" element="s0:NextSeqValue" />
  </message>
  <message name="NextSeqValueSoapOut">
    <part name="parameters" element="s0:NextSeqValueResponse" />
  </message>
  <message name="GetTextResourceSoapIn">
    <part name="parameters" element="s0:GetTextResource" />
  </message>
  <message name="GetTextResourceSoapOut">
    <part name="parameters" element="s0:GetTextResourceResponse" />
  </message>
  <message name="GetDataSetSimpleSoapIn">
    <part name="parameters" element="s0:GetDataSetSimple" />
  </message>
  <message name="GetDataSetSimpleSoapOut">
    <part name="parameters" element="s0:GetDataSetSimpleResponse" />
  </message>
  <message name="GetDataSetSoapIn">
    <part name="parameters" element="s0:GetDataSet" />
  </message>
  <message name="GetDataSetSoapOut">
    <part name="parameters" element="s0:GetDataSetResponse" />
  </message>
  <message name="SaveDataSetSoapIn">
    <part name="parameters" element="s0:SaveDataSet" />
  </message>
  <message name="SaveDataSetSoapOut">
    <part name="parameters" element="s0:SaveDataSetResponse" />
  </message>
  <message name="DisposeDataSetSoapIn">
    <part name="parameters" element="s0:DisposeDataSet" />
  </message>
  <message name="DisposeDataSetSoapOut">
    <part name="parameters" element="s0:DisposeDataSetResponse" />
  </message>
  <message name="PingHttpGetIn" />
  <message name="PingHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="LoginHttpGetIn">
    <part name="login" type="s:string" />
    <part name="password" type="s:string" />
  </message>
  <message name="LoginHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="GetLoggedUserHttpGetIn" />
  <message name="GetLoggedUserHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ChangePasswordHttpGetIn">
    <part name="old_password" type="s:string" />
    <part name="new_password" type="s:string" />
  </message>
  <message name="ChangePasswordHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="LogoutHttpGetIn" />
  <message name="LogoutHttpGetOut" />
  <message name="ExecuteNonquerySimpleHttpGetIn">
    <part name="sql" type="s:string" />
  </message>
  <message name="ExecuteNonquerySimpleHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="ExecuteScalarSimpleHttpGetIn">
    <part name="sql" type="s:string" />
  </message>
  <message name="ExecuteScalarSimpleHttpGetOut">
    <part name="Body" element="s0:anyType" />
  </message>
  <message name="NextSeqValueHttpGetIn">
    <part name="generator" type="s:string" />
  </message>
  <message name="NextSeqValueHttpGetOut">
    <part name="Body" element="s0:long" />
  </message>
  <message name="GetTextResourceHttpGetIn">
    <part name="path" type="s:string" />
  </message>
  <message name="GetTextResourceHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetDataSetSimpleHttpGetIn">
    <part name="sql" type="s:string" />
  </message>
  <message name="GetDataSetSimpleHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="DisposeDataSetHttpGetIn">
    <part name="server_id" type="s:int" />
  </message>
  <message name="DisposeDataSetHttpGetOut" />
  <message name="PingHttpPostIn" />
  <message name="PingHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="LoginHttpPostIn">
    <part name="login" type="s:string" />
    <part name="password" type="s:string" />
  </message>
  <message name="LoginHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="GetLoggedUserHttpPostIn" />
  <message name="GetLoggedUserHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ChangePasswordHttpPostIn">
    <part name="old_password" type="s:string" />
    <part name="new_password" type="s:string" />
  </message>
  <message name="ChangePasswordHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="LogoutHttpPostIn" />
  <message name="LogoutHttpPostOut" />
  <message name="ExecuteNonquerySimpleHttpPostIn">
    <part name="sql" type="s:string" />
  </message>
  <message name="ExecuteNonquerySimpleHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="ExecuteScalarSimpleHttpPostIn">
    <part name="sql" type="s:string" />
  </message>
  <message name="ExecuteScalarSimpleHttpPostOut">
    <part name="Body" element="s0:anyType" />
  </message>
  <message name="NextSeqValueHttpPostIn">
    <part name="generator" type="s:string" />
  </message>
  <message name="NextSeqValueHttpPostOut">
    <part name="Body" element="s0:long" />
  </message>
  <message name="GetTextResourceHttpPostIn">
    <part name="path" type="s:string" />
  </message>
  <message name="GetTextResourceHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GetDataSetSimpleHttpPostIn">
    <part name="sql" type="s:string" />
  </message>
  <message name="GetDataSetSimpleHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="DisposeDataSetHttpPostIn">
    <part name="server_id" type="s:int" />
  </message>
  <message name="DisposeDataSetHttpPostOut" />
  <portType name="ServerSoap">
    <operation name="Ping">
      <input message="s0:PingSoapIn" />
      <output message="s0:PingSoapOut" />
    </operation>
    <operation name="Login">
      <input message="s0:LoginSoapIn" />
      <output message="s0:LoginSoapOut" />
    </operation>
    <operation name="GetLoggedUser">
      <input message="s0:GetLoggedUserSoapIn" />
      <output message="s0:GetLoggedUserSoapOut" />
    </operation>
    <operation name="ChangePassword">
      <input message="s0:ChangePasswordSoapIn" />
      <output message="s0:ChangePasswordSoapOut" />
    </operation>
    <operation name="Logout">
      <input message="s0:LogoutSoapIn" />
      <output message="s0:LogoutSoapOut" />
    </operation>
    <operation name="ExecuteNonquerySimple">
      <input message="s0:ExecuteNonquerySimpleSoapIn" />
      <output message="s0:ExecuteNonquerySimpleSoapOut" />
    </operation>
    <operation name="ExecuteNonquery">
      <input message="s0:ExecuteNonquerySoapIn" />
      <output message="s0:ExecuteNonquerySoapOut" />
    </operation>
    <operation name="ExecuteScalarSimple">
      <input message="s0:ExecuteScalarSimpleSoapIn" />
      <output message="s0:ExecuteScalarSimpleSoapOut" />
    </operation>
    <operation name="ExecuteScalar">
      <input message="s0:ExecuteScalarSoapIn" />
      <output message="s0:ExecuteScalarSoapOut" />
    </operation>
    <operation name="NextSeqValue">
      <input message="s0:NextSeqValueSoapIn" />
      <output message="s0:NextSeqValueSoapOut" />
    </operation>
    <operation name="GetTextResource">
      <input message="s0:GetTextResourceSoapIn" />
      <output message="s0:GetTextResourceSoapOut" />
    </operation>
    <operation name="GetDataSetSimple">
      <input message="s0:GetDataSetSimpleSoapIn" />
      <output message="s0:GetDataSetSimpleSoapOut" />
    </operation>
    <operation name="GetDataSet">
      <input message="s0:GetDataSetSoapIn" />
      <output message="s0:GetDataSetSoapOut" />
    </operation>
    <operation name="SaveDataSet">
      <input message="s0:SaveDataSetSoapIn" />
      <output message="s0:SaveDataSetSoapOut" />
    </operation>
    <operation name="DisposeDataSet">
      <input message="s0:DisposeDataSetSoapIn" />
      <output message="s0:DisposeDataSetSoapOut" />
    </operation>
  </portType>
  <portType name="ServerSoap12">
    <operation name="Ping">
      <input message="s0:PingSoapIn" />
      <output message="s0:PingSoapOut" />
    </operation>
    <operation name="Login">
      <input message="s0:LoginSoapIn" />
      <output message="s0:LoginSoapOut" />
    </operation>
    <operation name="GetLoggedUser">
      <input message="s0:GetLoggedUserSoapIn" />
      <output message="s0:GetLoggedUserSoapOut" />
    </operation>
    <operation name="ChangePassword">
      <input message="s0:ChangePasswordSoapIn" />
      <output message="s0:ChangePasswordSoapOut" />
    </operation>
    <operation name="Logout">
      <input message="s0:LogoutSoapIn" />
      <output message="s0:LogoutSoapOut" />
    </operation>
    <operation name="ExecuteNonquerySimple">
      <input message="s0:ExecuteNonquerySimpleSoapIn" />
      <output message="s0:ExecuteNonquerySimpleSoapOut" />
    </operation>
    <operation name="ExecuteNonquery">
      <input message="s0:ExecuteNonquerySoapIn" />
      <output message="s0:ExecuteNonquerySoapOut" />
    </operation>
    <operation name="ExecuteScalarSimple">
      <input message="s0:ExecuteScalarSimpleSoapIn" />
      <output message="s0:ExecuteScalarSimpleSoapOut" />
    </operation>
    <operation name="ExecuteScalar">
      <input message="s0:ExecuteScalarSoapIn" />
      <output message="s0:ExecuteScalarSoapOut" />
    </operation>
    <operation name="NextSeqValue">
      <input message="s0:NextSeqValueSoapIn" />
      <output message="s0:NextSeqValueSoapOut" />
    </operation>
    <operation name="GetTextResource">
      <input message="s0:GetTextResourceSoapIn" />
      <output message="s0:GetTextResourceSoapOut" />
    </operation>
    <operation name="GetDataSetSimple">
      <input message="s0:GetDataSetSimpleSoapIn" />
      <output message="s0:GetDataSetSimpleSoapOut" />
    </operation>
    <operation name="GetDataSet">
      <input message="s0:GetDataSetSoapIn" />
      <output message="s0:GetDataSetSoapOut" />
    </operation>
    <operation name="SaveDataSet">
      <input message="s0:SaveDataSetSoapIn" />
      <output message="s0:SaveDataSetSoapOut" />
    </operation>
    <operation name="DisposeDataSet">
      <input message="s0:DisposeDataSetSoapIn" />
      <output message="s0:DisposeDataSetSoapOut" />
    </operation>
  </portType>
  <portType name="ServerHttpGet">
    <operation name="Ping">
      <input message="s0:PingHttpGetIn" />
      <output message="s0:PingHttpGetOut" />
    </operation>
    <operation name="Login">
      <input message="s0:LoginHttpGetIn" />
      <output message="s0:LoginHttpGetOut" />
    </operation>
    <operation name="GetLoggedUser">
      <input message="s0:GetLoggedUserHttpGetIn" />
      <output message="s0:GetLoggedUserHttpGetOut" />
    </operation>
    <operation name="ChangePassword">
      <input message="s0:ChangePasswordHttpGetIn" />
      <output message="s0:ChangePasswordHttpGetOut" />
    </operation>
    <operation name="Logout">
      <input message="s0:LogoutHttpGetIn" />
      <output message="s0:LogoutHttpGetOut" />
    </operation>
    <operation name="ExecuteNonquerySimple">
      <input message="s0:ExecuteNonquerySimpleHttpGetIn" />
      <output message="s0:ExecuteNonquerySimpleHttpGetOut" />
    </operation>
    <operation name="ExecuteScalarSimple">
      <input message="s0:ExecuteScalarSimpleHttpGetIn" />
      <output message="s0:ExecuteScalarSimpleHttpGetOut" />
    </operation>
    <operation name="NextSeqValue">
      <input message="s0:NextSeqValueHttpGetIn" />
      <output message="s0:NextSeqValueHttpGetOut" />
    </operation>
    <operation name="GetTextResource">
      <input message="s0:GetTextResourceHttpGetIn" />
      <output message="s0:GetTextResourceHttpGetOut" />
    </operation>
    <operation name="GetDataSetSimple">
      <input message="s0:GetDataSetSimpleHttpGetIn" />
      <output message="s0:GetDataSetSimpleHttpGetOut" />
    </operation>
    <operation name="DisposeDataSet">
      <input message="s0:DisposeDataSetHttpGetIn" />
      <output message="s0:DisposeDataSetHttpGetOut" />
    </operation>
  </portType>
  <portType name="ServerHttpPost">
    <operation name="Ping">
      <input message="s0:PingHttpPostIn" />
      <output message="s0:PingHttpPostOut" />
    </operation>
    <operation name="Login">
      <input message="s0:LoginHttpPostIn" />
      <output message="s0:LoginHttpPostOut" />
    </operation>
    <operation name="GetLoggedUser">
      <input message="s0:GetLoggedUserHttpPostIn" />
      <output message="s0:GetLoggedUserHttpPostOut" />
    </operation>
    <operation name="ChangePassword">
      <input message="s0:ChangePasswordHttpPostIn" />
      <output message="s0:ChangePasswordHttpPostOut" />
    </operation>
    <operation name="Logout">
      <input message="s0:LogoutHttpPostIn" />
      <output message="s0:LogoutHttpPostOut" />
    </operation>
    <operation name="ExecuteNonquerySimple">
      <input message="s0:ExecuteNonquerySimpleHttpPostIn" />
      <output message="s0:ExecuteNonquerySimpleHttpPostOut" />
    </operation>
    <operation name="ExecuteScalarSimple">
      <input message="s0:ExecuteScalarSimpleHttpPostIn" />
      <output message="s0:ExecuteScalarSimpleHttpPostOut" />
    </operation>
    <operation name="NextSeqValue">
      <input message="s0:NextSeqValueHttpPostIn" />
      <output message="s0:NextSeqValueHttpPostOut" />
    </operation>
    <operation name="GetTextResource">
      <input message="s0:GetTextResourceHttpPostIn" />
      <output message="s0:GetTextResourceHttpPostOut" />
    </operation>
    <operation name="GetDataSetSimple">
      <input message="s0:GetDataSetSimpleHttpPostIn" />
      <output message="s0:GetDataSetSimpleHttpPostOut" />
    </operation>
    <operation name="DisposeDataSet">
      <input message="s0:DisposeDataSetHttpPostIn" />
      <output message="s0:DisposeDataSetHttpPostOut" />
    </operation>
  </portType>
  <binding name="ServerSoap" type="s0:ServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap:operation soapAction="http://lpsoft.org/skladserver/Ping" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Login">
      <soap:operation soapAction="http://lpsoft.org/skladserver/Login" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLoggedUser">
      <soap:operation soapAction="http://lpsoft.org/skladserver/GetLoggedUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ChangePassword">
      <soap:operation soapAction="http://lpsoft.org/skladserver/ChangePassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Logout">
      <soap:operation soapAction="http://lpsoft.org/skladserver/Logout" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteNonquerySimple">
      <soap:operation soapAction="http://lpsoft.org/skladserver/ExecuteNonquerySimple" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteNonquery">
      <soap:operation soapAction="http://lpsoft.org/skladserver/ExecuteNonquery" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteScalarSimple">
      <soap:operation soapAction="http://lpsoft.org/skladserver/ExecuteScalarSimple" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteScalar">
      <soap:operation soapAction="http://lpsoft.org/skladserver/ExecuteScalar" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="NextSeqValue">
      <soap:operation soapAction="http://lpsoft.org/skladserver/NextSeqValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTextResource">
      <soap:operation soapAction="http://lpsoft.org/skladserver/GetTextResource" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDataSetSimple">
      <soap:operation soapAction="http://lpsoft.org/skladserver/GetDataSetSimple" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDataSet">
      <soap:operation soapAction="http://lpsoft.org/skladserver/GetDataSet" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SaveDataSet">
      <soap:operation soapAction="http://lpsoft.org/skladserver/SaveDataSet" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DisposeDataSet">
      <soap:operation soapAction="http://lpsoft.org/skladserver/DisposeDataSet" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ServerSoap12" type="s0:ServerSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/Ping" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Login">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/Login" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetLoggedUser">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/GetLoggedUser" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="ChangePassword">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/ChangePassword" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Logout">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/Logout" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteNonquerySimple">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/ExecuteNonquerySimple" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteNonquery">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/ExecuteNonquery" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteScalarSimple">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/ExecuteScalarSimple" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteScalar">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/ExecuteScalar" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="NextSeqValue">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/NextSeqValue" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetTextResource">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/GetTextResource" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetDataSetSimple">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/GetDataSetSimple" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetDataSet">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/GetDataSet" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="SaveDataSet">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/SaveDataSet" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="DisposeDataSet">
      <soap12:operation soapAction="http://lpsoft.org/skladserver/DisposeDataSet" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ServerHttpGet" type="s0:ServerHttpGet">
    <http:binding verb="GET" />
    <operation name="Ping">
      <http:operation location="/Ping" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Login">
      <http:operation location="/Login" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLoggedUser">
      <http:operation location="/GetLoggedUser" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Logout">
      <http:operation location="/Logout" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="ExecuteNonquerySimple">
      <http:operation location="/ExecuteNonquerySimple" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ExecuteScalarSimple">
      <http:operation location="/ExecuteScalarSimple" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NextSeqValue">
      <http:operation location="/NextSeqValue" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetTextResource">
      <http:operation location="/GetTextResource" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetDataSetSimple">
      <http:operation location="/GetDataSetSimple" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DisposeDataSet">
      <http:operation location="/DisposeDataSet" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
  </binding>
  <binding name="ServerHttpPost" type="s0:ServerHttpPost">
    <http:binding verb="POST" />
    <operation name="Ping">
      <http:operation location="/Ping" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Login">
      <http:operation location="/Login" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLoggedUser">
      <http:operation location="/GetLoggedUser" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Logout">
      <http:operation location="/Logout" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="ExecuteNonquerySimple">
      <http:operation location="/ExecuteNonquerySimple" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ExecuteScalarSimple">
      <http:operation location="/ExecuteScalarSimple" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NextSeqValue">
      <http:operation location="/NextSeqValue" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetTextResource">
      <http:operation location="/GetTextResource" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetDataSetSimple">
      <http:operation location="/GetDataSetSimple" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DisposeDataSet">
      <http:operation location="/DisposeDataSet" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
  </binding>
  <service name="Server">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">LPSoft Sklad web service</wsdl:documentation>
    <port name="ServerSoap" binding="s0:ServerSoap">
      <soap:address location="http://localhost:8080/Server.asmx" />
    </port>
    <port name="ServerSoap12" binding="s0:ServerSoap12">
      <soap12:address location="http://localhost:8080/Server.asmx" />
    </port>
    <port name="ServerHttpGet" binding="s0:ServerHttpGet">
      <http:address location="http://localhost:8080/Server.asmx" />
    </port>
    <port name="ServerHttpPost" binding="s0:ServerHttpPost">
      <http:address location="http://localhost:8080/Server.asmx" />
    </port>
  </service>
</definitions>