LPSClientShared/Web References/LPSServer/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s0="http://lpsoft.org/server/" name="Server" targetNamespace="http://lpsoft.org/server/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://lpsoft.org/server/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Ping">
        <xs:complexType />
      </xs:element>
      <xs:element name="PingResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="PingResult" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Login">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="login" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LoginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="LoginResult" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLoggedUser">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetLoggedUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetLoggedUserResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ChangePassword">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="old_password" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="new_password" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ChangePasswordResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SimpleExecuteNonquery">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SimpleExecuteNonqueryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="SimpleExecuteNonqueryResult" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SimpleExecuteScalar">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ChangeInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TableName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ModifyDateTime" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasDeletedRows" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExceptionInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="StackTrace" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ErrCode" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="ErrCodeName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Data" type="s0:ArrayOfAnyType" />
          <xs:element minOccurs="0" maxOccurs="1" name="InnerException" type="s0:ExceptionInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfAnyType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServerCallResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Changes" type="s0:ArrayOfChangeInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Exception" type="s0:ExceptionInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfChangeInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ChangeInfo" nillable="true" type="s0:ChangeInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SimpleExecuteScalarResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="SimpleExecuteScalarResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NextSeqValue">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="generator" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NextSeqValueResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="NextSeqValueResult" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDataSetSimple">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDataSetSimpleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetDataSetSimpleResult">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="xs:schema" />
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetChanges">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="sink" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="security" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetChangesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetChangesResult" type="s0:ServerCallResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExecuteNonquery">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="sink" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="security" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="s0:ArrayOfAnyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExecuteNonqueryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ExecuteNonqueryResult" type="s0:ServerCallResult" />
            <xs:element minOccurs="1" maxOccurs="1" name="affected" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExecuteScalar">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="sink" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="security" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="s0:ArrayOfAnyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExecuteScalarResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ExecuteScalarResult" type="s0:ServerCallResult" />
            <xs:element minOccurs="0" maxOccurs="1" name="result" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDataSetBySql">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="sink" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="security" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="sql" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="s0:ArrayOfAnyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDataSetBySqlResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetDataSetBySqlResult" type="s0:ServerCallResult" />
            <xs:element minOccurs="0" maxOccurs="1" name="data">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="xs:schema" />
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SaveDataSet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="sink" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="security" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="table_name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="changes">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="xs:schema" />
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="updateUserInfo" type="xs:boolean" />
            <xs:element minOccurs="1" maxOccurs="1" name="changesNotify" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SaveDataSetResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="SaveDataSetResult" type="s0:ServerCallResult" />
            <xs:element minOccurs="1" maxOccurs="1" name="affected" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RegisterListener">
        <xs:complexType />
      </xs:element>
      <xs:element name="RegisterListenerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RegisterListenerResult" type="s0:ServerCallResult" />
            <xs:element minOccurs="1" maxOccurs="1" name="sink" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="security" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UnregisterListener">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="sink" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="security" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UnregisterListenerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UnregisterListenerResult" type="s0:ServerCallResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDataSetByName">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="sink" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="security" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="table" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="addsql" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="s0:ArrayOfAnyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDataSetByNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetDataSetByNameResult" type="s0:ServerCallResult" />
            <xs:element minOccurs="0" maxOccurs="1" name="result">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="xs:schema" />
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTextResource">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="path" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTextResourceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetTextResourceResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Logout">
        <xs:complexType />
      </xs:element>
      <xs:element name="LogoutResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="boolean" type="xs:boolean" />
      <xs:element name="long" type="xs:long" />
      <xs:element name="string" nillable="true" type="xs:string" />
      <xs:element name="int" type="xs:int" />
      <xs:element name="DataSet" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="result" nillable="true" type="s0:ServerCallResult" />
    </xs:schema>
  </types>
  <message name="PingSoapIn">
    <part name="parameters" element="s0:Ping" />
  </message>
  <message name="PingSoapOut">
    <part name="parameters" element="s0:PingResponse" />
  </message>
  <message name="LoginSoapIn">
    <part name="parameters" element="s0:Login" />
  </message>
  <message name="LoginSoapOut">
    <part name="parameters" element="s0:LoginResponse" />
  </message>
  <message name="GetLoggedUserSoapIn">
    <part name="parameters" element="s0:GetLoggedUser" />
  </message>
  <message name="GetLoggedUserSoapOut">
    <part name="parameters" element="s0:GetLoggedUserResponse" />
  </message>
  <message name="ChangePasswordSoapIn">
    <part name="parameters" element="s0:ChangePassword" />
  </message>
  <message name="ChangePasswordSoapOut">
    <part name="parameters" element="s0:ChangePasswordResponse" />
  </message>
  <message name="SimpleExecuteNonquerySoapIn">
    <part name="parameters" element="s0:SimpleExecuteNonquery" />
  </message>
  <message name="SimpleExecuteNonquerySoapOut">
    <part name="parameters" element="s0:SimpleExecuteNonqueryResponse" />
  </message>
  <message name="SimpleExecuteScalarSoapIn">
    <part name="parameters" element="s0:SimpleExecuteScalar" />
  </message>
  <message name="SimpleExecuteScalarSoapOut">
    <part name="parameters" element="s0:SimpleExecuteScalarResponse" />
  </message>
  <message name="NextSeqValueSoapIn">
    <part name="parameters" element="s0:NextSeqValue" />
  </message>
  <message name="NextSeqValueSoapOut">
    <part name="parameters" element="s0:NextSeqValueResponse" />
  </message>
  <message name="GetDataSetSimpleSoapIn">
    <part name="parameters" element="s0:GetDataSetSimple" />
  </message>
  <message name="GetDataSetSimpleSoapOut">
    <part name="parameters" element="s0:GetDataSetSimpleResponse" />
  </message>
  <message name="GetChangesSoapIn">
    <part name="parameters" element="s0:GetChanges" />
  </message>
  <message name="GetChangesSoapOut">
    <part name="parameters" element="s0:GetChangesResponse" />
  </message>
  <message name="ExecuteNonquerySoapIn">
    <part name="parameters" element="s0:ExecuteNonquery" />
  </message>
  <message name="ExecuteNonquerySoapOut">
    <part name="parameters" element="s0:ExecuteNonqueryResponse" />
  </message>
  <message name="ExecuteScalarSoapIn">
    <part name="parameters" element="s0:ExecuteScalar" />
  </message>
  <message name="ExecuteScalarSoapOut">
    <part name="parameters" element="s0:ExecuteScalarResponse" />
  </message>
  <message name="GetDataSetBySqlSoapIn">
    <part name="parameters" element="s0:GetDataSetBySql" />
  </message>
  <message name="GetDataSetBySqlSoapOut">
    <part name="parameters" element="s0:GetDataSetBySqlResponse" />
  </message>
  <message name="SaveDataSetSoapIn">
    <part name="parameters" element="s0:SaveDataSet" />
  </message>
  <message name="SaveDataSetSoapOut">
    <part name="parameters" element="s0:SaveDataSetResponse" />
  </message>
  <message name="RegisterListenerSoapIn">
    <part name="parameters" element="s0:RegisterListener" />
  </message>
  <message name="RegisterListenerSoapOut">
    <part name="parameters" element="s0:RegisterListenerResponse" />
  </message>
  <message name="UnregisterListenerSoapIn">
    <part name="parameters" element="s0:UnregisterListener" />
  </message>
  <message name="UnregisterListenerSoapOut">
    <part name="parameters" element="s0:UnregisterListenerResponse" />
  </message>
  <message name="GetDataSetByNameSoapIn">
    <part name="parameters" element="s0:GetDataSetByName" />
  </message>
  <message name="GetDataSetByNameSoapOut">
    <part name="parameters" element="s0:GetDataSetByNameResponse" />
  </message>
  <message name="GetTextResourceSoapIn">
    <part name="parameters" element="s0:GetTextResource" />
  </message>
  <message name="GetTextResourceSoapOut">
    <part name="parameters" element="s0:GetTextResourceResponse" />
  </message>
  <message name="LogoutSoapIn">
    <part name="parameters" element="s0:Logout" />
  </message>
  <message name="LogoutSoapOut">
    <part name="parameters" element="s0:LogoutResponse" />
  </message>
  <message name="PingHttpGetIn" />
  <message name="PingHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="LoginHttpGetIn">
    <part name="login" type="s:string" />
    <part name="password" type="s:string" />
  </message>
  <message name="LoginHttpGetOut">
    <part name="Body" element="s0:long" />
  </message>
  <message name="GetLoggedUserHttpGetIn" />
  <message name="GetLoggedUserHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ChangePasswordHttpGetIn">
    <part name="old_password" type="s:string" />
    <part name="new_password" type="s:string" />
  </message>
  <message name="ChangePasswordHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="SimpleExecuteNonqueryHttpGetIn">
    <part name="sql" type="s:string" />
  </message>
  <message name="SimpleExecuteNonqueryHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="SimpleExecuteScalarHttpGetIn">
    <part name="sql" type="s:string" />
  </message>
  <message name="SimpleExecuteScalarHttpGetOut">
    <part name="Body" element="s0:anyType" />
  </message>
  <message name="NextSeqValueHttpGetIn">
    <part name="generator" type="s:string" />
  </message>
  <message name="NextSeqValueHttpGetOut">
    <part name="Body" element="s0:long" />
  </message>
  <message name="GetDataSetSimpleHttpGetIn">
    <part name="sql" type="s:string" />
  </message>
  <message name="GetDataSetSimpleHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetChangesHttpGetIn">
    <part name="sink" type="s:int" />
    <part name="security" type="s:int" />
  </message>
  <message name="GetChangesHttpGetOut">
    <part name="Body" element="s0:result" />
  </message>
  <message name="UnregisterListenerHttpGetIn">
    <part name="sink" type="s:int" />
    <part name="security" type="s:int" />
  </message>
  <message name="UnregisterListenerHttpGetOut">
    <part name="Body" element="s0:result" />
  </message>
  <message name="GetTextResourceHttpGetIn">
    <part name="path" type="s:string" />
  </message>
  <message name="GetTextResourceHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="LogoutHttpGetIn" />
  <message name="LogoutHttpGetOut" />
  <message name="PingHttpPostIn" />
  <message name="PingHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="LoginHttpPostIn">
    <part name="login" type="s:string" />
    <part name="password" type="s:string" />
  </message>
  <message name="LoginHttpPostOut">
    <part name="Body" element="s0:long" />
  </message>
  <message name="GetLoggedUserHttpPostIn" />
  <message name="GetLoggedUserHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="ChangePasswordHttpPostIn">
    <part name="old_password" type="s:string" />
    <part name="new_password" type="s:string" />
  </message>
  <message name="ChangePasswordHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="SimpleExecuteNonqueryHttpPostIn">
    <part name="sql" type="s:string" />
  </message>
  <message name="SimpleExecuteNonqueryHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="SimpleExecuteScalarHttpPostIn">
    <part name="sql" type="s:string" />
  </message>
  <message name="SimpleExecuteScalarHttpPostOut">
    <part name="Body" element="s0:anyType" />
  </message>
  <message name="NextSeqValueHttpPostIn">
    <part name="generator" type="s:string" />
  </message>
  <message name="NextSeqValueHttpPostOut">
    <part name="Body" element="s0:long" />
  </message>
  <message name="GetDataSetSimpleHttpPostIn">
    <part name="sql" type="s:string" />
  </message>
  <message name="GetDataSetSimpleHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetChangesHttpPostIn">
    <part name="sink" type="s:int" />
    <part name="security" type="s:int" />
  </message>
  <message name="GetChangesHttpPostOut">
    <part name="Body" element="s0:result" />
  </message>
  <message name="UnregisterListenerHttpPostIn">
    <part name="sink" type="s:int" />
    <part name="security" type="s:int" />
  </message>
  <message name="UnregisterListenerHttpPostOut">
    <part name="Body" element="s0:result" />
  </message>
  <message name="GetTextResourceHttpPostIn">
    <part name="path" type="s:string" />
  </message>
  <message name="GetTextResourceHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="LogoutHttpPostIn" />
  <message name="LogoutHttpPostOut" />
  <portType name="ServerSoap">
    <operation name="Ping">
      <input message="s0:PingSoapIn" />
      <output message="s0:PingSoapOut" />
    </operation>
    <operation name="Login">
      <input message="s0:LoginSoapIn" />
      <output message="s0:LoginSoapOut" />
    </operation>
    <operation name="GetLoggedUser">
      <input message="s0:GetLoggedUserSoapIn" />
      <output message="s0:GetLoggedUserSoapOut" />
    </operation>
    <operation name="ChangePassword">
      <input message="s0:ChangePasswordSoapIn" />
      <output message="s0:ChangePasswordSoapOut" />
    </operation>
    <operation name="SimpleExecuteNonquery">
      <input message="s0:SimpleExecuteNonquerySoapIn" />
      <output message="s0:SimpleExecuteNonquerySoapOut" />
    </operation>
    <operation name="SimpleExecuteScalar">
      <input message="s0:SimpleExecuteScalarSoapIn" />
      <output message="s0:SimpleExecuteScalarSoapOut" />
    </operation>
    <operation name="NextSeqValue">
      <input message="s0:NextSeqValueSoapIn" />
      <output message="s0:NextSeqValueSoapOut" />
    </operation>
    <operation name="GetDataSetSimple">
      <input message="s0:GetDataSetSimpleSoapIn" />
      <output message="s0:GetDataSetSimpleSoapOut" />
    </operation>
    <operation name="GetChanges">
      <input message="s0:GetChangesSoapIn" />
      <output message="s0:GetChangesSoapOut" />
    </operation>
    <operation name="ExecuteNonquery">
      <input message="s0:ExecuteNonquerySoapIn" />
      <output message="s0:ExecuteNonquerySoapOut" />
    </operation>
    <operation name="ExecuteScalar">
      <input message="s0:ExecuteScalarSoapIn" />
      <output message="s0:ExecuteScalarSoapOut" />
    </operation>
    <operation name="GetDataSetBySql">
      <input message="s0:GetDataSetBySqlSoapIn" />
      <output message="s0:GetDataSetBySqlSoapOut" />
    </operation>
    <operation name="SaveDataSet">
      <input message="s0:SaveDataSetSoapIn" />
      <output message="s0:SaveDataSetSoapOut" />
    </operation>
    <operation name="RegisterListener">
      <input message="s0:RegisterListenerSoapIn" />
      <output message="s0:RegisterListenerSoapOut" />
    </operation>
    <operation name="UnregisterListener">
      <input message="s0:UnregisterListenerSoapIn" />
      <output message="s0:UnregisterListenerSoapOut" />
    </operation>
    <operation name="GetDataSetByName">
      <input message="s0:GetDataSetByNameSoapIn" />
      <output message="s0:GetDataSetByNameSoapOut" />
    </operation>
    <operation name="GetTextResource">
      <input message="s0:GetTextResourceSoapIn" />
      <output message="s0:GetTextResourceSoapOut" />
    </operation>
    <operation name="Logout">
      <input message="s0:LogoutSoapIn" />
      <output message="s0:LogoutSoapOut" />
    </operation>
  </portType>
  <portType name="ServerSoap12">
    <operation name="Ping">
      <input message="s0:PingSoapIn" />
      <output message="s0:PingSoapOut" />
    </operation>
    <operation name="Login">
      <input message="s0:LoginSoapIn" />
      <output message="s0:LoginSoapOut" />
    </operation>
    <operation name="GetLoggedUser">
      <input message="s0:GetLoggedUserSoapIn" />
      <output message="s0:GetLoggedUserSoapOut" />
    </operation>
    <operation name="ChangePassword">
      <input message="s0:ChangePasswordSoapIn" />
      <output message="s0:ChangePasswordSoapOut" />
    </operation>
    <operation name="SimpleExecuteNonquery">
      <input message="s0:SimpleExecuteNonquerySoapIn" />
      <output message="s0:SimpleExecuteNonquerySoapOut" />
    </operation>
    <operation name="SimpleExecuteScalar">
      <input message="s0:SimpleExecuteScalarSoapIn" />
      <output message="s0:SimpleExecuteScalarSoapOut" />
    </operation>
    <operation name="NextSeqValue">
      <input message="s0:NextSeqValueSoapIn" />
      <output message="s0:NextSeqValueSoapOut" />
    </operation>
    <operation name="GetDataSetSimple">
      <input message="s0:GetDataSetSimpleSoapIn" />
      <output message="s0:GetDataSetSimpleSoapOut" />
    </operation>
    <operation name="GetChanges">
      <input message="s0:GetChangesSoapIn" />
      <output message="s0:GetChangesSoapOut" />
    </operation>
    <operation name="ExecuteNonquery">
      <input message="s0:ExecuteNonquerySoapIn" />
      <output message="s0:ExecuteNonquerySoapOut" />
    </operation>
    <operation name="ExecuteScalar">
      <input message="s0:ExecuteScalarSoapIn" />
      <output message="s0:ExecuteScalarSoapOut" />
    </operation>
    <operation name="GetDataSetBySql">
      <input message="s0:GetDataSetBySqlSoapIn" />
      <output message="s0:GetDataSetBySqlSoapOut" />
    </operation>
    <operation name="SaveDataSet">
      <input message="s0:SaveDataSetSoapIn" />
      <output message="s0:SaveDataSetSoapOut" />
    </operation>
    <operation name="RegisterListener">
      <input message="s0:RegisterListenerSoapIn" />
      <output message="s0:RegisterListenerSoapOut" />
    </operation>
    <operation name="UnregisterListener">
      <input message="s0:UnregisterListenerSoapIn" />
      <output message="s0:UnregisterListenerSoapOut" />
    </operation>
    <operation name="GetDataSetByName">
      <input message="s0:GetDataSetByNameSoapIn" />
      <output message="s0:GetDataSetByNameSoapOut" />
    </operation>
    <operation name="GetTextResource">
      <input message="s0:GetTextResourceSoapIn" />
      <output message="s0:GetTextResourceSoapOut" />
    </operation>
    <operation name="Logout">
      <input message="s0:LogoutSoapIn" />
      <output message="s0:LogoutSoapOut" />
    </operation>
  </portType>
  <portType name="ServerHttpGet">
    <operation name="Ping">
      <input message="s0:PingHttpGetIn" />
      <output message="s0:PingHttpGetOut" />
    </operation>
    <operation name="Login">
      <input message="s0:LoginHttpGetIn" />
      <output message="s0:LoginHttpGetOut" />
    </operation>
    <operation name="GetLoggedUser">
      <input message="s0:GetLoggedUserHttpGetIn" />
      <output message="s0:GetLoggedUserHttpGetOut" />
    </operation>
    <operation name="ChangePassword">
      <input message="s0:ChangePasswordHttpGetIn" />
      <output message="s0:ChangePasswordHttpGetOut" />
    </operation>
    <operation name="SimpleExecuteNonquery">
      <input message="s0:SimpleExecuteNonqueryHttpGetIn" />
      <output message="s0:SimpleExecuteNonqueryHttpGetOut" />
    </operation>
    <operation name="SimpleExecuteScalar">
      <input message="s0:SimpleExecuteScalarHttpGetIn" />
      <output message="s0:SimpleExecuteScalarHttpGetOut" />
    </operation>
    <operation name="NextSeqValue">
      <input message="s0:NextSeqValueHttpGetIn" />
      <output message="s0:NextSeqValueHttpGetOut" />
    </operation>
    <operation name="GetDataSetSimple">
      <input message="s0:GetDataSetSimpleHttpGetIn" />
      <output message="s0:GetDataSetSimpleHttpGetOut" />
    </operation>
    <operation name="GetChanges">
      <input message="s0:GetChangesHttpGetIn" />
      <output message="s0:GetChangesHttpGetOut" />
    </operation>
    <operation name="UnregisterListener">
      <input message="s0:UnregisterListenerHttpGetIn" />
      <output message="s0:UnregisterListenerHttpGetOut" />
    </operation>
    <operation name="GetTextResource">
      <input message="s0:GetTextResourceHttpGetIn" />
      <output message="s0:GetTextResourceHttpGetOut" />
    </operation>
    <operation name="Logout">
      <input message="s0:LogoutHttpGetIn" />
      <output message="s0:LogoutHttpGetOut" />
    </operation>
  </portType>
  <portType name="ServerHttpPost">
    <operation name="Ping">
      <input message="s0:PingHttpPostIn" />
      <output message="s0:PingHttpPostOut" />
    </operation>
    <operation name="Login">
      <input message="s0:LoginHttpPostIn" />
      <output message="s0:LoginHttpPostOut" />
    </operation>
    <operation name="GetLoggedUser">
      <input message="s0:GetLoggedUserHttpPostIn" />
      <output message="s0:GetLoggedUserHttpPostOut" />
    </operation>
    <operation name="ChangePassword">
      <input message="s0:ChangePasswordHttpPostIn" />
      <output message="s0:ChangePasswordHttpPostOut" />
    </operation>
    <operation name="SimpleExecuteNonquery">
      <input message="s0:SimpleExecuteNonqueryHttpPostIn" />
      <output message="s0:SimpleExecuteNonqueryHttpPostOut" />
    </operation>
    <operation name="SimpleExecuteScalar">
      <input message="s0:SimpleExecuteScalarHttpPostIn" />
      <output message="s0:SimpleExecuteScalarHttpPostOut" />
    </operation>
    <operation name="NextSeqValue">
      <input message="s0:NextSeqValueHttpPostIn" />
      <output message="s0:NextSeqValueHttpPostOut" />
    </operation>
    <operation name="GetDataSetSimple">
      <input message="s0:GetDataSetSimpleHttpPostIn" />
      <output message="s0:GetDataSetSimpleHttpPostOut" />
    </operation>
    <operation name="GetChanges">
      <input message="s0:GetChangesHttpPostIn" />
      <output message="s0:GetChangesHttpPostOut" />
    </operation>
    <operation name="UnregisterListener">
      <input message="s0:UnregisterListenerHttpPostIn" />
      <output message="s0:UnregisterListenerHttpPostOut" />
    </operation>
    <operation name="GetTextResource">
      <input message="s0:GetTextResourceHttpPostIn" />
      <output message="s0:GetTextResourceHttpPostOut" />
    </operation>
    <operation name="Logout">
      <input message="s0:LogoutHttpPostIn" />
      <output message="s0:LogoutHttpPostOut" />
    </operation>
  </portType>
  <binding name="ServerSoap" type="s0:ServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap:operation soapAction="http://lpsoft.org/server/Ping" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Login">
      <soap:operation soapAction="http://lpsoft.org/server/Login" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLoggedUser">
      <soap:operation soapAction="http://lpsoft.org/server/GetLoggedUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ChangePassword">
      <soap:operation soapAction="http://lpsoft.org/server/ChangePassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SimpleExecuteNonquery">
      <soap:operation soapAction="http://lpsoft.org/server/SimpleExecuteNonquery" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SimpleExecuteScalar">
      <soap:operation soapAction="http://lpsoft.org/server/SimpleExecuteScalar" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="NextSeqValue">
      <soap:operation soapAction="http://lpsoft.org/server/NextSeqValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDataSetSimple">
      <soap:operation soapAction="http://lpsoft.org/server/GetDataSetSimple" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetChanges">
      <soap:operation soapAction="http://lpsoft.org/server/GetChanges" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteNonquery">
      <soap:operation soapAction="http://lpsoft.org/server/ExecuteNonquery" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteScalar">
      <soap:operation soapAction="http://lpsoft.org/server/ExecuteScalar" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDataSetBySql">
      <soap:operation soapAction="http://lpsoft.org/server/GetDataSetBySql" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SaveDataSet">
      <soap:operation soapAction="http://lpsoft.org/server/SaveDataSet" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegisterListener">
      <soap:operation soapAction="http://lpsoft.org/server/RegisterListener" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UnregisterListener">
      <soap:operation soapAction="http://lpsoft.org/server/UnregisterListener" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDataSetByName">
      <soap:operation soapAction="http://lpsoft.org/server/GetDataSetByName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTextResource">
      <soap:operation soapAction="http://lpsoft.org/server/GetTextResource" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Logout">
      <soap:operation soapAction="http://lpsoft.org/server/Logout" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ServerSoap12" type="s0:ServerSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap12:operation soapAction="http://lpsoft.org/server/Ping" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Login">
      <soap12:operation soapAction="http://lpsoft.org/server/Login" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetLoggedUser">
      <soap12:operation soapAction="http://lpsoft.org/server/GetLoggedUser" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="ChangePassword">
      <soap12:operation soapAction="http://lpsoft.org/server/ChangePassword" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="SimpleExecuteNonquery">
      <soap12:operation soapAction="http://lpsoft.org/server/SimpleExecuteNonquery" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="SimpleExecuteScalar">
      <soap12:operation soapAction="http://lpsoft.org/server/SimpleExecuteScalar" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="NextSeqValue">
      <soap12:operation soapAction="http://lpsoft.org/server/NextSeqValue" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetDataSetSimple">
      <soap12:operation soapAction="http://lpsoft.org/server/GetDataSetSimple" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetChanges">
      <soap12:operation soapAction="http://lpsoft.org/server/GetChanges" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteNonquery">
      <soap12:operation soapAction="http://lpsoft.org/server/ExecuteNonquery" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="ExecuteScalar">
      <soap12:operation soapAction="http://lpsoft.org/server/ExecuteScalar" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetDataSetBySql">
      <soap12:operation soapAction="http://lpsoft.org/server/GetDataSetBySql" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="SaveDataSet">
      <soap12:operation soapAction="http://lpsoft.org/server/SaveDataSet" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="RegisterListener">
      <soap12:operation soapAction="http://lpsoft.org/server/RegisterListener" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="UnregisterListener">
      <soap12:operation soapAction="http://lpsoft.org/server/UnregisterListener" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetDataSetByName">
      <soap12:operation soapAction="http://lpsoft.org/server/GetDataSetByName" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetTextResource">
      <soap12:operation soapAction="http://lpsoft.org/server/GetTextResource" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="Logout">
      <soap12:operation soapAction="http://lpsoft.org/server/Logout" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ServerHttpGet" type="s0:ServerHttpGet">
    <http:binding verb="GET" />
    <operation name="Ping">
      <http:operation location="/Ping" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Login">
      <http:operation location="/Login" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLoggedUser">
      <http:operation location="/GetLoggedUser" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SimpleExecuteNonquery">
      <http:operation location="/SimpleExecuteNonquery" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SimpleExecuteScalar">
      <http:operation location="/SimpleExecuteScalar" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NextSeqValue">
      <http:operation location="/NextSeqValue" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetDataSetSimple">
      <http:operation location="/GetDataSetSimple" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetChanges">
      <http:operation location="/GetChanges" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="UnregisterListener">
      <http:operation location="/UnregisterListener" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetTextResource">
      <http:operation location="/GetTextResource" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Logout">
      <http:operation location="/Logout" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
  </binding>
  <binding name="ServerHttpPost" type="s0:ServerHttpPost">
    <http:binding verb="POST" />
    <operation name="Ping">
      <http:operation location="/Ping" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Login">
      <http:operation location="/Login" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetLoggedUser">
      <http:operation location="/GetLoggedUser" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SimpleExecuteNonquery">
      <http:operation location="/SimpleExecuteNonquery" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SimpleExecuteScalar">
      <http:operation location="/SimpleExecuteScalar" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="NextSeqValue">
      <http:operation location="/NextSeqValue" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetDataSetSimple">
      <http:operation location="/GetDataSetSimple" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetChanges">
      <http:operation location="/GetChanges" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="UnregisterListener">
      <http:operation location="/UnregisterListener" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetTextResource">
      <http:operation location="/GetTextResource" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Logout">
      <http:operation location="/Logout" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
  </binding>
  <service name="Server">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">LPSoft server</wsdl:documentation>
    <port name="ServerSoap" binding="s0:ServerSoap">
      <soap:address location="http://localhost/LPS/Server.asmx" />
    </port>
    <port name="ServerSoap12" binding="s0:ServerSoap12">
      <soap12:address location="http://localhost/LPS/Server.asmx" />
    </port>
    <port name="ServerHttpGet" binding="s0:ServerHttpGet">
      <http:address location="http://localhost/LPS/Server.asmx" />
    </port>
    <port name="ServerHttpPost" binding="s0:ServerHttpPost">
      <http:address location="http://localhost/LPS/Server.asmx" />
    </port>
  </service>
</definitions>